:root { 
--bluegray_900:#252733; 
--gray_400:#b5b7b9; 
--bluegray_300_42:#a3abb942; 
--black_900:#000000; 
--gray_800:#4a4a4a; 
--red_A100:#ff7777; 
--gray_801:#3b3b3b; 
--deep_purple_400:#694bdb; 
--gray_200:#ebebeb; 
--white_A700:#ffffff; 
--gray_100:#f5f5f5; 
--teal_A400:#2bebc8; 
}