
 @font-face { font-style : bold; src: url("assets/fonts/mulishmulishromanmedium500.ttf"); font-family : "Mulish"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/mulishmulibold700.ttf"); font-family : "Mulish"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/interregular400.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/mulishmuliregular400.ttf"); font-family : "Mulish"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/mulishmulisemibold600.ttf"); font-family : "Mulish"; font-weight : 600;  }